.history-item-container {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.time {
  width: 13%;
  color: #475569;
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
}

.text-logo-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 7%;
  margin-right: 12px;
}

.title-url-conatiner {
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #475569;
  font-weight: 500;
  font-size: 17px;
  margin-right: 10px;
}

.url {
  color: #64748b;
  font-size: 17px;
}

.delete-logo {
  margin-left: 10px;
  padding: 6px;
  width: 5%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .history-item-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .time {
    width: 100%;
    margin-bottom: 10px;
  }

  .text-logo-container {
    width: 100%;
  }

  .title-url-conatiner {
    flex-direction: column;
    align-items: flex-start;
  }
}
